---
import Home from "../components/icons/HomeDark.astro";
---

<header>
  <nav id="header-nav">
    <a id="home-icon-wrapper" href="/#hero">
      <Home id="home-icon" />
    </a>
    <div id="nav-links">
      <a href="/#experiencia" aria-label="experiencia" class="link-0"> Experiencia </a>
      <a href="/#proyectos" aria-label="proyectos" class="link-1"> Proyectos </a>
      <a href="/#sobre-mi" aria-label="sobre mí" class="link-2"> Sobre mí </a>
      <a href="mailto:olvera.cristino.alan@gmail.com" aria-label="contacto" class="link-3"> Contacto </a>
    </div>
  </nav>
</header>
<style>
  header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 100;
    top: 0;
  }
  #header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 2rem;
  }
  #home-icon-wrapper {
    display: flex;
    align-items: center;
  }
  #home-icon-wrapper:hover {
    cursor: pointer;
  }
  #nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #nav-links a {
    position: relative;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 1rem;
    text-decoration: none;
    color: white;
  }
  #nav-links a:hover {
    color: #f0f0f0;
  }
  #nav-links a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;

    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }
  .link-0::after {
    background-color: #999a4f;
  }
  .link-1::after {
    background-color: #a85772;
  }
  .link-2::after {
    background-color: #2b648a;
  }
  .link-3::after {
    background-color: #7fa37e;
  }
  #nav-links a:hover::after {
    visibility: visible;
    transform: scaleX(1);
  }

  @media screen and (max-width: 768px) {
    #nav-links {
      display: none;
    }
    #home-icon-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }
</style>
