<span>
    <button class="shiny-button">
        <slot>Software Engineer</slot>
    </button>
    <style>
        .shiny-button-wrapper {
            position: relative;
            display: inline-block;
        }
        .shiny-button {
        background-color: transparent;
        border: 2px solid transparent;
        border-image: linear-gradient(45deg, #999a4f,#7fa37e, #a85772,#2b648a) 1;
        border-radius: 1rem;
        color: #FFF;
        cursor:text;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.5;
        padding: 0.2rem .7rem;
        transition: background-color 0.2s, border-color 0.2s, color 0.2s;
        }
    </style>
</span>